<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/bfe242d4-4491-4211-a7e5-2d4f5e3a5af8/resourcegroups/cloud-shell-storage-eastus/providers/Microsoft.Web/sites/FizzBuzz20210506222816</ResourceId>
    <ResourceGroup>cloud-shell-storage-eastus</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://fizzbuzz20210506222816.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://fizzbuzz20210506222816.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>e8aa3d9e-5af1-4b91-914d-6c46c679d5f9</ProjectGuid>
    <MSDeployServiceURL>waws-prod-sn1-173.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FizzBuzz20210506222816</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FizzBuzz20210506222816</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>